.kanban-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 30rem;
    min-width: 23rem;
    width: 30%;

    @media (max-width: 768px) {
        min-width: 16rem;
    }

    @media (max-width: 480px) {
        min-width: 18rem;
    }
}

.kanban-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.kanban-column-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.kanban-column-title {
    font-weight: 700;
}

.kanban-column-count {
    color: var(--font-secondary);
}

.kanban-header-icons {
    width: 1.2rem;
    height: 1.2rem;
}

.tickets {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
